body, html, table, td, tr{
  font-family: 'Arimo', sans-serif;
  color:#3e3e3d;
  font-size:14px;
}

td, tr{
  line-height: 25px;
}

td{
  padding:10px;
}


h1{
  color:#3e3e3d;
  font-family: 'Arimo', sans-serif;
  font-size:23px;
 
}

tr > td:first-child{
  text-align: center;
}

h2{
  color:#3e3e3d;
  font-family: 'Arimo', sans-serif;
  font-size:15px;
  margin-bottom:0px;
}

p {
  line-height:2em;  

  } 


a:hover{
  text-decoration: none;
}


.navbar-inner{
  background:white;
  padding:10px 0px;
  height: 100px;
}

.nav{
  font-weight: bold;
  font-size:12px;
  padding:10px 15px 0px 0px;
  float:right !important;
}


.navbar .nav > li > a {
  color:#000000;
}


.navbar .nav > li > a:hover {
  color:#7fb8dc;
}

.navbar .nav > li > a:active {
  color:#7fb8dc;
}

.navbar .nav > li > .selected {
  color:#7fb8dc;
}


.carousel-control{
  top:55%;
}


#myCarousel{
  padding-top:70px;
}


.carousel-inner > .item {
  overflow: hidden;
}


#knap {
  width:100%;
  position: absolute;
  bottom:0px;
  text-align: center;
}

.icons {
  text-align: center;
}

.what-we-do-box-link{
  color:black;
}

.what-we-do-box-link:hover{
  color:black;
}

.icons img{
  width: 75%;
  padding-top: 50px;
}

.icon-background{
  background: #fcfbfb; 
  transition: background-color 0.5s;
  padding-bottom:20px;
  position: relative;
  width:auto;
  height:auto;
}

.icon-background:hover{
  background-color: #f6f5f5;
  cursor:pointer;
  transition: background-color 0.5s;
}

.btn-default, .btn-white {
  background:#7fb8dc;
  color: white;
  width: 150px;
  height: 40px;
  margin-top: 35px;
  font-size: 11px;
  border: none;
  text-shadow:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 1px;
}

.btn:focus{
  background-color:white !important;
  color:#7fb8dc;
  outline: solid 1px #7fb8dc !important;
  }

/*.btn {
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}*/



.btn-white{
  background: black;
  color:white;
  border: 1px solid black;
  text-shadow:none;
  letter-spacing: 1px;
}

.btn-white:hover{
  /*background: #ffffff;
  color:#7abe9f;*/
  border: 1px solid white;
}





.btn-default:hover {
  background:white;
  color: #7fb8dc;
  width: 150px;
  height: 40px;
  margin-top: 35px;
  font-size: 11px;
}


.name-overlay {
  position:absolute;
  width:100%;
  height:30%;
  z-index:200;
  background-color: rgba(127,184,220,0.9);
  visibility: visible;
  bottom: 0px;
  color: white;
}


.name-tekst {
  margin-left: 10%;
  margin-top: 10%;
}

.sectionheadline {
  /*padding-top: 8%;*/
}

.indhold {
  padding-left: 20px;
  padding-right: 20px;
}

.indhold i{
  line-height: 1.5em;
}


.headline1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.headline2 {
  padding-top: 30px;
  padding-bottom: 40px;
}

.section-background{
  background-color: #fbfbfb;
  width: 100%;
  position:relative;
}

.section{
  position:relative;
}

.section-padding {
  margin-top: 10px;
}



.blacksection {
  max-width: 100%;
  background-color: #7abe9f;
  margin-top:5%;
  text-align: center;
  color:white;
  padding-top: 70px;
  padding-bottom: 70px;
}

.blacksection h1 {
  color: white;
  font-size: 24px;
}


.cases {
  /*width: 32%;
  position: relative;
  float: left;
  cursor:pointer;
  margin: 4px;*/
  margin-bottom:25px;
  position:relative;
}

.cases img {
  opacity:1.0;
  position: relative;
  width: 100%;

}

.cases:hover .thumbnail-overlay{
  visibility: visible;
}


.thumbnail-text {
  text-align: center;
  color: white;
  padding-top:15%;
  position: relative;
}

.thumbnail-text hr {
  width: 80%;
  border-top:0px;
  margin: 0px;
  display: inline-block;
}

.thumbnail-overlay{
  position:absolute;
  width:100%;
  height:100%;
  z-index:200;
  background-color: rgba(0,113,185,0.5);
  top:0px;
  visibility: hidden;
}


.map {
  margin-bottom: -2%;
}

.map iframe{
  width: 100%;
  height: 400px;
  position: relative;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: black;
  text-align: center;
  color: #fbfbfb;
  font-style: italic;
  font-family: 'Arimo', sans-serif;
  font-size: 10px;
  position: relative;
}

.kill-float {
  clear:both;
  *zoom:1;
}


/* Slider tekst */

.hero-overlaycopy{
  position: absolute;
  top:50%;
  z-index:100;
}


.hero-title, .hero-title-italic{
  background:rgba(0,0,0,0.34);
  padding: 5px 15px;
  color:white;
  font-family: 'Arimo', sans-serif;
  font-size:35px;
  display:inline-block;
}

.hero-title-italic{
  font-size:16px;
  font-style: italic;
}

.experts {
  margin-bottom: 30px;
  font-size: 12px;
  position: relative;

}

.experts h2 {
  font-size: 17px;
  
}

.overskrift {
  margin-bottom: 50px;
}

.formular {
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

.formular p{
  padding: 0px;
  margin:0px;
}

.toppicture {
background: url() no-repeat center top;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top:80px;
width: 100%;
height: 60%;
}


input[type="text"]{
  width: 250px;
  height: 40px;
  background: white;
  margin-top: 5px;
  text-shadow:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

input[type="email"]{
  width: 250px;
  height: 40px;
  background: white;
  margin-top: 5px;
  text-shadow:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

input[type="tel"]{
  width: 250px;
  height: 40px;
  background: white;
  margin-top: 5px;
  text-shadow:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

input[type="submit"]{
  width: 150px;
  height: 40px;
  margin-top: 5px;
  background: none;
  background:#7fb8dc;
  color: white;
  border: 1px solid white;
  text-shadow:none;
  letter-spacing: 1px;
  text-shadow:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

input[type="submit"]:hover{
  width: 150px;
  height: 40px;
  margin-top: 5px;
  background: none;
  background:white;
  color:#7fb8dc;
  border: 1px solid #fbfbfb;
  text-shadow:none;
  letter-spacing: 1px;
  text-shadow:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

textarea {
  margin-top: 5px;
  width: 350px;
  height:150px;
}

.wpcf7-response-output {
  text-align: center;
  margin-top: 10px;
  color: red;
  font-size: 12px;
}

.wpcf7-not-valid-tip-no-ajax {
  display:block;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 12px;
  padding:0px;
  margin: 0px;
}



/* Media */


@media (max-width: 979px){
  #myCarousel{
    padding-top:0px;
  }

  .navbar-fixed-top{
    margin-bottom:0px;
    height: 100px;
  }

  .navbar .btn-navbar{
    margin-top:10px;
  }

  .nav{
    float:left !important;
    width:100%;
    text-align: center;
  }

  .nav li{
    border-top:1px solid #cccccc;
  }

  .nav-collapse .nav{
    margin:0px;
  }

  .navbar-collapse .nav{
    padding:0px;
  }

/*.experts{
  width:50%;
  float:left;
  margin-bottom:10px;
  font-size: 12px;
}*/

.experts h2{
  font-size: 14px;
}


.blacksection h1 {
  color: white;
  font-size: 20px;
}



.name-tekst {
    margin-top:8%;
    font-size: 10px;
    line-height: 15px;
  }

  .thumbnail-overlay{
  position:absolute;
  width:100%;
  height:100%;
  z-index:200;
  background-color: rgba(0,113,185,0.3);
  top:0px;
  visibility: visible;
}

.thumbnail-text {
  text-align: center;
  color: white;
  padding-top:15%;
  position: relative;
  visibility: visible;
  font-size: 10px;
}

.thumbnail-text hr {
  width: 80%;
  border-top:0px;
  margin: 0px;
  display: inline-block;
  visibility: visible;
}


}

@media (max-width: 767px) {
  .indhold img{
    width: 35%;
    height:auto;
  }
  

  .experts img{
    width: 100%;
  }

  .experts {
    width: 48.6188%;
    margin-left: 1%;
    float: left;
    text-align: center;
  }

  .name-overlay {
    position:absolute;
    width:100%;
    height:20%;
    text-align: left;
    font-size: 14px;
  }

  .name-tekst {
    margin-top:8%;
  }

  .thumbnail-overlay{
  position:absolute;
  width:100%;
  height:100%;
  z-index:200;
  background-color: rgba(0,113,185,0.3);
  top:0px;
  visibility: visible;
}

.thumbnail-text {
  text-align: center;
  color: white;
  padding-top:15%;
  position: relative;
  visibility: visible;
}

.thumbnail-text hr {
  width: 80%;
  border-top:0px;
  margin: 0px;
  display: inline-block;
  visibility: visible;
}

.custom-row:before, .custom-row:after{
  
  content:initial;
}


}

@media (max-width: 568px){
  .cases {
    width: 100%;
    position: relative;
    float: left;
    bottom: 50px;
    cursor:pointer;
  }

  .icons img {
    padding-top:15px;
    max-width:25%;
  }


  .hero-title, .hero-title-italic{
    background:rgba(0,0,0,0.34);
    padding: 5px 15px;
    color:white;
    font-family: 'Arimo', sans-serif;
    font-size:20px;
    display:inline-block;
  }

  .hero-title-italic{
    font-size:10px;
    font-style: italic;
  }

  .experts{
    width:48%;
    float:left;
    font-size: 12px;
    margin-bottom:10px;
  }

  .experts h2{
    font-size: 14px;
    line-height: 14px;
  }

  .hero-overlaycopy{
    top:30%;
  }

  .brand img{
    width:60%;
  }


  .name-overlay {
    position:absolute;
    width:100%;
    height:20%;
    text-align: left;
    font-size: 9px;
    line-height: 15px;
  }

  .name-tekst {
    margin-top:6%;
  }

  .blacksection h1 {
    color: white;
    font-size: 20px;
  }

  .icon-background {
    /*margin-top: 8%;*/
  }

  .thumbnail-overlay{
    position:absolute;
    width:100%;
    height:100%;
    z-index:200;
    background-color: rgba(0,113,185,0.3);
    top:0px;
    visibility: visible;
  }

  .thumbnail-text {
    text-align: center;
    color: white;
    padding-top:15%;
    position: relative;
    visibility: visible;
  }

  .thumbnail-text hr {
    width: 80%;
    border-top:0px;
    margin: 0px;
    display: inline-block;
    visibility: visible;
  }

  .btn-default{
    display:block;
    margin-bottom:2px !important;
    margin-left:auto !important;
    margin-right: auto !important;
    float:none;
    width:80% !important;
    outline: none;
  }

  .sectionheadline{
    width:95%;
  }

  .indhold, .icon-background{
    height:auto !important;
  }

  textarea {
  margin-top: 5px;
  width: 250px;
  height:150px;
}

.navbar .brand {
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 0px;
}

.about-panel-content p {
  margin-left:-20px;
}

}



@media (max-width: 480px){
.navbar .brand {
   padding-right: 10px;
   padding-left: 10px;
   margin-top: 0px;
}

}

@media (max-width: 353px){
.navbar .brand {
   padding-right: 10px;
   padding-left: 10px;
   margin-top: -36px;
}

}

 